.chat {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .chat__welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}